@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{                                          
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h1{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
  }

body{
    background: linear-gradient(360deg,#800080, #ffc0cb);
}
.container {
    width: 380px;
    height: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#display {
    text-align: right;
    height: 80px;
    line-height: 70px;
    margin-right: 30px;
    padding: 16px 8px;
    font-size: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    color: #d6dbdd;
}

.button {
    border: none;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#equal {
    background-color: #9477af;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}

#operator1{
	background-color: #20b2aa;
    font-size: 20px;
}

#operator2{
	background-color: #7d93e0;
    font-size: 20px;
}

#operator3{
    background-color: #ffa500;
    font-size: 20px;
}

#operator4{
    background-color: #f08080;
    font-size: 20px;
}